/* Reset global - Aplica box-sizing border-box e remove margens e preenchimentos padrões */
*,
*::before,
*::after {
  margin: 0; /* Remove margens padrões */
  padding: 0; /* Remove os preenchimentos padrões */
  box-sizing: border-box; /* Aplica box-sizing: border-box globalmente */
}

.w-full {
  width: 100%; /* Largura 100% do elemento pai */
}

.h-[420px] {
  height: 420px; /* Define a altura como 420px */
}

.bg-zinc-900 {
  background-color: #27272a; /* Cor de fundo para um tom de cinza escuro */
}

.bg-home {
  background-image: url('/assets/img/bg.webp'); /* Substitua pelo caminho da sua imagem */
  background-size: cover; /* Faz a imagem cobrir todo o elemento */
  background-position: center; /* Centraliza a imagem */
}

.bg-cover {
  background-size: cover; /* Faz a imagem cobrir todo o elemento */
}

.bg-center {
  background-position: center; /* Centraliza a imagem de fundo */
}

.w-32 {
  width: 8rem; /* 128px */
}

.h-32 {
  height: 8rem; /* 128px */
}

.rounded-full {
  border-radius: 9999px; /* Cria bordas totalmente arredondadas */
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* Sombra grande */
}

.scale-110 {
  transform: scale(1.1); /* Aumenta o tamanho para 110% */
}

.duration-200 {
  transition-duration: 200ms; /* Define a duração da transição */
}

.text-3xl {
  font-size: 1.875rem; /* 30px */
}

.mt-4 {
  margin-top: 1rem; /* 16px */
}

.mb-2 {
  margin-bottom: 0.5rem; /* 8px */
}

.font-bold {
  font-weight: 700; /* Negrito */
}

.text-white {
  color: #ffffff; /* Cor do texto branca */
}
